
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f5f2;
  color: #252525;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


header {
  background-color: #ffffff; 
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navigasjon-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navigasjon-top .logo {
  height: 50px;
}

.navigasjon-top .icon {
  color: #000000; 
  font-size: 1.5em;
  margin-left: 15px;
}

.navigasjon-top .link {
  display: none;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #027792;
  padding: 10px 0;
}

.main-nav ul li {
  margin: 0 15px;
}

.main-nav ul li a {
  color: #ffffff;
  font-weight: bold;
}


.Reise {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Reise h1 {
  margin-top: 0;
  color: #000000;
}

.Reise form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Reise input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.Reise button {
  background-color: #ffcc40; 
  color: #000000; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

.kampanje-bilde {
  position: relative;
  text-align: center;
  color: #000000; 
  margin: 20px 0;
}

.kampanje-bilde img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.kampanje-bilde h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background-color: #52d3f0; 
  padding: 10px;
  border-radius: 8px;
}

.kampanje-bilde p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
}

.kampanje-bilde .pris {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #000000;
}

.kampanje-bilde button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcc40; 
  color: #000000; 
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

.ekstra-tilbud {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ekstra-tilbud h2 {
  color: #000000;
}

.ekstra-tilbud p {
  color: #52d3f0;
}

#tips-inspirasjon {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tips-inspirasjon h2 {
  color: #000000; 
}

.kort-liste {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.kort-liste li {
  flex: 1 1 calc(100% - 40px);
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.kort-liste li img {
  border-radius: 8px;
}

.kort-liste li h3 {
  color: #000000; 
}

.kort-liste li .pris {
  color: #000000;
  font-weight: bold;
}

.kort-liste li .merkelapp {
  background-color: #027792; 
  color: #fff; 
  padding: 5px;
  border-radius: 4px;
  font-size: 0.9em;
}

.kort-liste li i {
  color: #000000;
  font-size: 1.2em;
}


.hotell-bilder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
}

.hotell-bilder img {
  width: 100%; 
  height: auto;
  border-radius: 8px; 
}

.hotell-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  padding: 10px 0;
}

.hotell-nav ul li {
  margin: 0 15px;
}

.hotell-nav ul li a {
  color: #252525;
  font-weight: bold;
}

#oversikt {
  padding: 20px;
  text-align: center;
}


#oversikt .stjerner {
  color: #ffcc40; 
}

#oversikt .vurdering {
  color: #000000;
}

#oversikt .anmeldelser {
  color: #1ca2c1; 
}

#fasiliteter {
  padding: 20px;
}

#fasiliteter h2 {
  color: #000000;
}

.fasiliteter-liste ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fasiliteter-liste ul li {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  align-items: center;
  gap: 5px;
}

.fasiliteter-liste ul li i {
  color: #000000; 
}

.fasiliteter-link {
  color: #000000; 
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

.rom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.rom-kort {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #ffffff;
}

.rom-kort img {
  border-radius: 8px;
}

.rom-kort h3 {
  color: #000000;
}

.rom-kort p {
  color: #252525;
}

.rom-kort strong {
  color: #000000; 
}


footer {
  background-color: #252525;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h3 {
  color: #ffffff;
}

footer .land {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

footer .land p {
  margin: 1px;
}

footer .land img {
  height: 20px;
}

footer .betaling-metoder i,
footer .sosiale-medier a {
  font-size: 1.5em;
  margin-right: 10px;
  color: #fff;
}

footer .nyheter-tilbud form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer .nyheter-tilbud input {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

footer .nyheter-tilbud button {
  background-color: #ffcc40;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (min-width: 768px) {
  .hotell-bilder img {
      flex: 1 1 calc(33.333% - 10px);
  }
  .hotell-bilder {
    flex: 1 1 calc(33.333% - 10px);
}

  .rom-kort {
      flex: 1 1 calc(33.333% - 10px);
  }

  footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
}

ul {
  list-style-type: none;
}